requests==2.20.0
requests-toolbelt==0.9.1
asyncio==3.4.3
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.7.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==2.8
daemonize==2.4.7
Deprecated==1.2.6
docutils==0.15.2
html2text==2019.9.26
idna==2.6
imagesize==1.1.0
importlib-metadata==0.23
Jinja2==2.10.3
jwcrypto==0.6.0
lazy-object-proxy==1.4.3
livereload==2.6.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
mkdocs==1.0.4
more-itertools==7.2.0
nr.types==4.0.2
packaging==19.2
pdoc3==0.7.2
pluggy==0.13.0
psutil==5.4.6
py==1.8.0
pycodestyle==2.5.0
pycparser==2.19
pydash==4.7.5
Pygments==2.4.2
pyparsing==2.4.5
pytest==5.2.2
python-dateutil==2.8.1
python-jwt==3.2.4
PyYAML==5.1.2
six==1.13.0
snowballstemmer==2.0.0
Sphinx==2.2.1
sphinx-autoapi==1.2.1
git+https://github.com/ljsking/sphinx-markdown-builder.git
sphinx-serve==1.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tornado==5.1
typed-ast==1.4.0
typing==3.7.4.1
Unidecode==1.1.1
unify==0.5
untokenize==0.1.1
urllib3==1.24.2
uuid==1.30
uvloop==0.11.0
wcwidth==0.1.7
wrapt==1.11.2
yapf==0.28.0
zipp==0.6.0
cacheout==0.11.2
